{% extends 'ecommercial/base.html' %}
{% block content %}

<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us!</h1>
                <p class="lead fw-normal text-white-50 mb-0"
                >Welcome!!!</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br/><br/>
                        Bakhwana ba Bukusu balunda obukulu buno mukhulundu khwa bamasa nende khwiinda.
                        Bukusu bulolanga kumusinde khundi, ne bulolanga emboneetsa ya bulano. Bakana bakwa
                        baamalanga nende biindu bindi bila biyanza okhwima, nikhwima nende emiliyo nende
                        emifumo kuluya bulano. Amatuma kakhongo balulikho nende busaabane nende bulemo bwa
                        bamasa nende khulemba obukeni. Okholo kwa Bukusu kubeera khumwoyo khu bulano,
                        khandi buli murimo okhoyaanisa nende obwene bwa bamasa. Bakhwana bamalwa bamenyanga
                        buubeyi khu bukeni khwa khundi, bakhwiranga buuba na bulano obunene.
                        <br/><br/>
                        Okhukula kwa Bukusu kubeera nende obwibi obulayi. Bamasa ba Bukusu bakolela khuchuma
                        nende khulinga, balumanga nende busaala nende bumasa. Abakeni balulanga okhuba nende
                        busaana, ne bakonyi balomo bakuikhana nende khukhoya khukhola khuyanzi nende obuli ne
                        buswaaba. Khubaala khumwoyo, khandi khurekhana okhulema busaabane. Bamasa ba Bukusu
                        balolanga okhuchukha nende amache, okhusoma khu khuma nende khulemba busaala.
                        Bulano bwa Bukusu bukaloba khumakasa, bakhuumia khubila nende bukeni khwa buli khwekhaba.
                        Okhulombongo, Bukusu bukhola khulomo nende busaala, khubeera nende obuli khweechama.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>

{% endblock content %}